{% extends "main.html" %}

{% block title %}
    Test History
{% endblock %}

{% block content %}
    <h1>Test History for </h1>

    {% if results %}
    <p>Hi {{ candidate_name }}, 
        you have attempted 
        {{ candidate.test_attempted }}
         tests and scored
          {{ candidate.points }} 
          on a scale of 10.</p>
           
         <table>
                <thead>
                    <tr>
                        <th> Date </th>
                        <th>Attempt Number</th>
                        <th>Total Questions</th>
                        <th>Correct Answers</th>
                        <th>Wrong Answers</th>
                        <th>Points</th>
                    </tr>
                </thead>
            <tbody>
                {% for result in results %}
                    <tr>
                    
                        <td>{{ forloop.counter }}</td>
                        <td>{{result.date}}</td>
                        <td>{{ result.attempt }}</td>
                        <td>{{ result.right }}</td>
                        <td>{{ result.wrong }}</td>
                        <td>{{ result.points }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No test history available.</p>
    {% endif %}
    <a href="{% url 'OTS:home' %}">Back to Home</a>
{% endblock %}
